#mainarea {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#messages {
    flex: 1;
    overflow-y: auto;
    height: 0px;
}

#inputForm {
    display: flex;
}

#message {
    flex: 1;
}

#messageButtons {
    display: flex;
    flex-direction: column;
}

.monologue {
    display: flex;
    margin: 8px 0px;
}

.usercard {
    width: 100px;
    overflow: hidden;
    padding-top: 5px;
    margin-right: 10px;
}

.messageList {
    flex: 1;
    position: relative;
    background-color: $bg1;
    border: 1px dotted $bg2;
    margin: 0px 3px;
    padding: 8px;
    border-radius: 3px;
}

#links {
    text-align: right;
}

#header > h1 {
    margin: 0px;
}

#pinned > .messageList, #starred > .messageList {
    margin: 3px 0px;
}

.messageList > div {
    position: relative;
}

.messageList > div.reply, .messageList > div.hoverreply {
    background-color: mix($bg1, $green, 75%);
}

.messageList > div.jumpHighlight {
    background-color: mix($bg1, $yellow, 75%);
}

.reply-arrow {
    float: left;
    margin-right: 3px;
}

.messageList > div.edit {
    background-color: mix($bg1, $red, 75%);
}

.messageList > div > .deleted {
    color: $fg1;
}

.messageList > div.votebox {
    position: absolute;
    right: 5px;
    color: $fg1;
    z-index: 1;
}

.messageList > div p {
    margin: 2px;
}

.messageMenu {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $bg2;
    z-index: 2;
}

.messageMenu > a {
    margin: 0px 3px;
}

.miniInfo {
    font-size: 10pt;
    color: $fg1;
    padding: 0px 3px;
}

@media (max-width: 900px) {
    .monologue {
        flex-direction: column;
    }
}
